:root {
    --color-accent: #49111c;
    --color-accent-dark: #2e050d;
    --color-primary-light: #a9927d;
    --color-primary-dark: #5e503f;
    --color-light: #f2f4f3;
    --color-dark:  #0a0908;
}
  
* {
    margin: 0;
    padding: 0; 
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 5rem;
    margin-right: 5rem;

}

h1{
   
}

p {
    font-size: 1.4rem;
}

span {
    font-size: 1.3rem;
}

a{

}

.button-primary  {
    border:none;
    padding:1.2rem 3.5rem;
    background-color: var(--color-accent);
     
}

.button-primary:hover{
    background-color: var(--color-accent-dark);
    scale:1.05;
}
.button-primary a {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}

.button-secondary {
    border:1px solid var(--color-accent);
    padding:1.1rem 3.3rem;
}

.button-secondary:hover {
    border:2px solid var(--color-accent);
    scale:1.05;
}
.button-secondary a {
    text-decoration: none;
    color:var(--color-accent);
    text-transform: uppercase;
    
}

/*--------------------------HERO SECTION----------------*/


.hero-wrapper {
    background-color: var(--color-light);
    height: 48rem;
}

.logo img {
    height: 5rem;
    padding-left: 3rem;
}


.header {
    display: flex;
}
  
.nav-bar {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    
}

.nav-bar>div {
    padding-right: 6rem;
}

.links {
    display: flex;;
    
}

.links li{
    list-style-type: none;
    padding-right: 3.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.links li a {
    text-decoration: none;
    color:var(--color-primary-dark);
}

.links li a:hover {
    color:var(--color-accent);
    font-weight: bold;
}
.dropdown {
    overflow: hidden;
    padding-right: 3rem;
    
}
  
.dropdown .dropbtn {
    font-size: 1.4rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; 
    text-transform: uppercase;
    color:var(--color-primary-dark);
}
  
.dropdown .dropbtn:hover {
    color:var(--color-accent);
    font-weight: bold;
}

  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 16rem;
    z-index: 1;
    background-color: #fff;
    
}
  

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    color:var(--color-primary-dark);
    
}
.dropdown-content a:hover {
    color:var(--color-accent);
} 

.dropdown-content a:hover {
    background-color: var(--color-light);
  
}
  
.dropdown:hover .dropdown-content {
    display: block;
    
} 

.icons a {
    font-size: 2rem;
    color: var(--color-accent);
    padding-right: 3.1rem;
    
}



.hero-cta {
   text-align: center; 
   margin-top: 8rem;
   display: flex;
   justify-content: space-around;
    
}

.hero-cta h1 {
    font-size: 3.5rem;
    color:var(--color-primary-dark);
}

.hero-cta p {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.hero-cta img {
    width: 70%;
    float:right;
    margin-right: 4.5rem;

}

.dessert img {
    float: left;
    margin-left: 4rem;
    width: 80%;
    height: 20rem;
}
.buttons {
    margin-top: 2rem;
}


.hero-info {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    
    
    
}
  
.info {
    display: flex;
    margin-top: -2rem;
    
    
}

.info-p {
    margin-left: 2rem;
}
.info-p>div{
    display: inline-table;
}

.info p {
    text-transform: uppercase;
}

/*--------modal----------*/

.close-btn
 {
  background-color: var(--color-primary-light);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}




.modal-container {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 60rem;
  height: 38rem;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  z-index: 100;
  
}

.modal-header {
  background-color:var(--color-accent);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid var(--color-accent);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.modal-content {
  padding: 20px;
  
}

.modal-content p {
    font-size: 1.6rem;
    color:var(--color-primary-dark);
}

.modal-content1{
    display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.modal-content1 label {
    color:var(--color-primary-dark);
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.modal-form div {
  margin: 15px 0;
}



.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background-color: var(--color-accent);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.submit-btn{
    border:none;
    padding:1.2rem 3.5rem;
    background-color: var(--color-accent);
    color:#fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


[type="date"] {
    background:#f2f4f3 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
  
label {
    display: block;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    font-weight: bold;
    color:var(--color-primary-dark);
}

input {
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-light);
    padding: 8px 7px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 150px;
    font-family: 'Open Sans';
    color:var(--color-primary-dark);
    font-size: 1.5rem;
}

.custom-select select {
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-light);
    padding: 7px 7px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 150px; 
    font-family: 'Open Sans';
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color:var(--color-primary-dark);
    font-size: 1.5rem;
    position: relative;

    
}


.custom-select i {
    margin-left: -3rem;
    margin-top: 1rem;
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    color:var(--color-primary-dark);
}




/*--------------------------ABOUT US----------------*/



.about-us {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 7rem;
    background-color: var(--color-light);
    
    
}

.border{
    border:5px solid var(--color-primary-light);
    width: 43rem;
    height: 35rem;
    z-index: 1;
    position: relative;
    
}



.about-img img {
    width: 45rem;
    height: 35rem;
    margin-left: -39rem;
    z-index: 1;
    position: absolute;
    margin-top: 3rem;
}

.about-info {
    width: 50rem;
    margin-left: 18rem;
}

.about-info span {
    font-family: 'Great Vibes';
    font-size: 3rem;
    color:var(--color-accent);
    
}

.about-info button {
    margin-top: 2rem;
}


/*--------------------------DELIVERY---------------*/



.delivery-wrapper{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.delivery-cta {
    width: 40rem;
    margin-left: 8rem;
}


.scooter img {
    margin-left: 3rem;
}


.delivery-box img {
    margin-left: -10rem;
    margin-top: 10rem;
}



.delivery-box3 img {
    margin-top: 10rem;
    margin-left: -5rem;
}

.delivery-form label{
    padding-top:2rem;
}
.form-in {
    width: 25rem;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid var(--color-accent);
    border-radius: 0%;
}


/*------------------POPULAR PRODUCTS----------------*/



.wrapper-popular{
    padding-bottom: 5rem;
    
}

.wrapper-popular h1 {
    margin-top: 5rem;
    font-size: 3rem;
    text-align: center;
    color:#1d3c45;
}
  
.slide {
    display: flex;
    margin-top: 5rem;
    margin-right: 15rem;
}
 

  
.popular-title {
    margin-left: 4rem;
}

.popular-title span {
    font-family: 'Great Vibes';
    font-size: 2.5rem;
    color:var(--color-accent);
}

.popular-title h1 {
    font-size: 2rem;
}

.popular-item h3 {
    margin-top: 0;
    color:var(--color-primary-dark);
    font-size: 1.6rem;
    
}

.popular-item p {
    color: var(--color-accent);
    font-size: 1.6rem;
    font-weight: bold;

}



.popular-order {
    padding-left: 4rem;
}
.popular-order h1{
    text-transform: uppercase;
    font-size: 2rem;
}

.popular-span1 {
    font-size: 1.7rem;
    padding-left: 2rem;
    color: #1e3d59;;

}

.popular-span2 {
    font-size: 1.7rem;
    padding-top: 3rem;
    text-transform: uppercase;
    color:#1e3d59;
}

.order-icon {
    padding-top: 1rem;
    padding-left: 4rem;
    font-size: 5rem;
}

.order-icon button {
    border-radius: 50%;
    border: 3px solid var(--color-accent);
    padding: 1rem 1.5rem;
}

.order-icon button:hover {
    background-color: var(--color-accent-dark);
}
  

.popular-item {
    background-color: #fff;
    margin-right: 2rem;
    border-radius: 5px;
    width: 22rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 77%, 84% 79%, 75% 81%, 67% 99%, 17% 100%, 0 100%, 0 0, 24% 0);
    
}



.popular-price button{
    border:1px solid var(--color-accent);
    padding: 1rem 2.5rem;
    background-color: var(--color-accent);
    border-radius: 50%;
    height: 4.5rem;
    width: 1rem;
    margin-top: 32rem;
    position: absolute;
    z-index: 1;
    margin-left: -7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popular-price button:hover {
    border:2px solid var(--color-accent);
    scale:1.05;
    
}
.popular-price button a {
    text-decoration: none;
    color:#fff;
    font-size: 3rem;
    text-transform: uppercase;
    
    
}

.item-d {
    width: 22rem;
    height: 23.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: white;
    border-radius: 5%;
    margin-right: 2rem;


}
  

.item-d img {
    width: 14rem;
    height: 13rem;
    margin-top: -5rem;
}


.item-info {
   text-align: center; 
   margin-top: -6rem;
    
}
.item-info h3 {
    padding-bottom: 1rem;
    font-size: 1.7rem;
}

.item-info i {
    font-size: 1.5rem;
    color: var(--color-accent);
    padding-right: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.item-info p {
   float: left;
    color:var(--color-primary-dark);
    font-size: 3rem;
    margin-left: 3rem;
    
}

.item-info span {
    font-size: 1.3rem;
    line-height: 1.5;
}

.popular-price p {
    margin-top: 0rem;
    font-family: 'Montserrat';
}




.flr-wrap {
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: var(--color-light);
    
    
}
.container {
    display: none;
}
.button.active {
    font-weight: bold;
}

.div-buttons {
    display: flex;
    justify-content: space-around;
    
}

.buttons {
    display: flex;
    margin-right: 4rem;
    margin-left: 5rem;
    padding: 1rem;
    
}
  
.button {
    margin-right: 2.5rem;
}
.buttons li a {
    text-decoration: none;
    color: var(--color-primary-dark);
    padding: 7px 7px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.buttons li a:hover {
    border-bottom: 2px solid var(--color-accent);
    border-radius: none;
}
.buttons li {
    list-style-type: none;
}


.most-popular {
    display: flex;
    width: 100%;
    margin-left: -9rem;
    margin-top: 5rem;
}

/*------------------------TEAM --------------*/


.team-wrapper{
    padding: 5rem 5rem;
    background-color: #fff;
    
}

.team-title h1 {
    text-align: right;
    width: 100%;
    font-size: 2.6rem;

}

.team-title p {
    text-align: right;
    width: 100%;

}
.team{
    display: flex;
   
    margin-top: 5rem;
}

.team img {
    width: 30rem;
    height: 20rem;
}


.team-1 {
    margin-top: -10rem;
    margin-left: -7rem;
    position: relative;
    z-index: 1;
    margin-right: 8rem;
}

.team-1 img{
    margin-bottom:-2.5rem;
}


.team-2 {
    margin-top: -5rem;
    margin-right: 8rem;
    height: 30rem;
}

.team-info {
    background-color: var(--color-primary-light);
    width: 30rem;
    height: 23rem;
    text-align: center;
    color:#fff;
}
.team-info h3 {
    font-size: 1.8rem;
    padding-top: 2rem;
}
.team-info p {
    color:#fff;
    font-size: 1.4rem;
}

.team-info span {
    color:var(--color-accent);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.team-3 {
    margin-top: 0rem;
    margin-right: -5rem;
}

.team-3 img {
    height: 22rem;
    position: relative;
    z-index: 1;
    margin-right: -7rem;
    margin-bottom: -1rem;
}



.team-border{
    border:5px solid var(--color-primary-light);
    width: 53rem;
    height: 42rem;
    margin-top: -13rem;
    
    
}


.team-border1{
    border:5px solid var(--color-primary-light);
    width: 43rem;
    height: 42rem;
    margin-top: -2rem;
   
    
    
}




/*------------------------SPECIAL OFFER---------------*/


.special-offer {
    margin-top: 10rem;
    padding-top: 5rem;
    background-color: var(--color-light);
    height: 25rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
}

.special-cta {
    width: 40rem;
    margin-top: -2rem;
    margin-left: 5rem;
}

.special-cta span {
    font-weight: bold;
    font-size: 2.7rem;
    color:var(--color-accent);
}


.beans-img img {
    height: 15rem;
    width: 20rem;
}

.special-img img {
    width: 30rem;
    height: 35rem;
    margin-top: -15rem;
}



/*------------------------TESTIMONIALS--------------*/


.wrapper-feedback{
    padding: 5rem 1rem;
    margin-top: 2rem;

    
}

.wrapper-feedback p {
    font-family: 'Great Vibes';
    font-size: 2.5rem;
    color:var(--color-accent);
}
  
.slider {
    width: 100%;
    height: 30rem;
    position: relative;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
}
  

.slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
}
  
.slider .item {
    margin-right: 2rem;
}
  
.slider .item:last-child {
    margin-right: 0;
}


.feedback-header{
    display: flex;
    justify-content: space-between;
}

.button-feedback {
    display: flex;
    
}
  
.ctrl-btn {
    padding: 1rem 1.5rem;
    background: #fff;
    color:var(--color-primary-dark);
    text-transform: uppercase;
    border:none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    display: flex;
    height: 4.5rem;
    margin-right: 2rem;
    margin-bottom: -6rem;
    margin-top: 4rem;
}



.ctrl-btn:hover {
  
}
.ctrl-btn.prev1 {
    left: 0;
}
  
.ctrl-btn.next1 {
    right: 0;
}
  
.item  {
    width: 23rem;
    height: 32rem;
    background-color: white;
    border-radius: 5%;
}
  
.testimonial1 {
    margin-right: 2rem;
    width: 30rem;
    text-align: center;
    

}

.testimonial1 p {
    color:#fff;
    font-family: 'Open Sans';
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top:4rem;
}

.rating1 {
    padding:2rem;
}
.rating1 i {
    color:#fff;
    font-size: 2rem;
    margin-right: 1rem;
}

.rating1 i:hover {
    scale:1.05;
}



.testimonial {
    margin-right: 3rem;
    width: 30rem;
    
}

.testimonial span {
    color:var(--color-primary-light);
}
.testimonial img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.testimonial h3 {
    margin-top: 0;
    color:var(--color-primary-dark);
    font-size: 1.6rem;
    
}

.testimonial p {
    font-family: 'Open Sans';
    font-size: 1.4rem;
    color:var(--color-primary-light);
    padding-bottom: 2rem;


}

.testimonial-top {
    display: flex;
    justify-content: space-between;
}

.testimonial-top img {
     background-image: linear-gradient(to bottom, #CA1D7E ,#F2703F);
    padding:0.3rem;
}

.rating{
    padding-right: 2rem;
    margin-top: 2rem;
}
.rating i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color:var(--color-accent);
}



/*------------------------BLOG-------------*/


.blog-wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-light);
    
}


.blog-title{
    padding: 3rem;
    padding-bottom: 0rem;
    text-align: right;
}

.blog-title span {
    font-family: 'Great Vibes';
    font-size: 2.5rem;
    color:var(--color-accent);
}
.blog {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}


.article {
    width: 27rem;
    height: 51rem;
    padding:2rem;
    
}
.article img {
    width: 23rem;
    height: 25rem;
    border-radius: 10px;
    padding-top: 1rem;
}

.article span {
    color:var(--color-primary-light);
}
.blog-info h2 {
    color:var(--color-primary-dark);
}

.blog-info p {
    font-size: 1.4rem;
}

.blog-btn {
    text-align: center;
}

/*-------------------------BANNER---------------*/

.banner {
    padding:4rem 5rem;
    
    display: flex;
}

.banner img  {
    margin-top: -6rem;
}

.banner-cta{
    margin-left: 12rem;
}


.newsletter-cta{
    margin-left: 12rem;
    margin-top: 3rem; 
}

.form-control {
    width:25rem;
    height: 3.5rem;
    text-indent: 2rem;
}
.btn-info {
    height: 3.5rem;
    width: 10rem;
    padding:1rem 3rem;
    border:none;
    background-color: var(--color-accent);
    text-transform: uppercase;
    border-radius: 5px;
    
    
}

.btn-info a{
    text-decoration: none;
    color:white;
    margin-left: -1rem;
}
.btn-info:hover {
    background-color:var(--color-accent-dark);
    cursor: pointer;
}
  
.checkbox1 {
    cursor: pointer;
    
}

.u {
    cursor: pointer;
}

.checkbox p {
    font-size: 1.3rem;
    margin-left: -7rem;
    
}

.checkbox span {
    margin-left: -4rem;
}

.input-group input {
    border:none;
}


/*-----------------------CONTACT FORM-------------*/

.contact-form1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--color-light);
    padding:1rem 5rem;
    padding-bottom: 10rem;
}

.contact-title p {
    font-size: 2.5rem;
    font-family: 'Great Vibes';
    color:var(--color-accent);
}


.contact-container {
    width: 40rem;
    height: 40rem;
    padding: 2rem;
    float:right;
    margin-top: -7rem;
   
}

.contact-container p {
    font-size: 2rem;
    color:var(--color-accent);
}

.name, .email, .phone, .message {
    width: 30rem;
    padding: 1.2rem;
    border: none;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    resize: vertical;
}

.phone {
    margin-left: 0;
}

.message {
    height: 10rem;
    margin-left: 0;
}


.column2 {
    float: left;
    width: 70%;
    
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.contact-form{
    margin-top: 0rem;
}

.contact-form label {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--color-primary-dark);
    margin-top: 1.5rem;
}


.contact-form input {
    background-color: rgb(226, 223, 223);
  
}
.contact-info {
    display:flex;
    justify-content: space-around;
}

.contact-info1 {
    display:flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.info-c {
    display: flex;
}

.description {
    padding-left: 2rem;
}

.description p {
    text-transform: uppercase;
    color:var(--color-primary-dark);
}

.description h3 {
font-weight: normal;
font-size: 1.4rem;
padding-top: 1rem;
color:var(--color-primary-light);
}

.description span {
    color:var(--color-primary-light);
    padding-top: 2rem;
}




/*------------------------FOOTER---------------*/


  
.footer{
    position: absolute;
    color:white;
    
}


.footer-wrap {
    background-color:#fff;
}

  



.page-footer{
    display: flex;
    justify-content: space-between;
    

}


.footer-col {
    width: 25%;
    height: 18.5rem;
    margin-right: 5rem;
    
}
.footer-col p {
    font-size: 1.8rem;
}
.footer-col span {
    display: flex;
}



.footer-col ul li {
    font-size: 1.5rem;
    list-style-type: none;
    color:var(--color-primary-light);
    
}
.page-footer h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-right: 3rem;
    color:var(--color-primary-dark);
    
}

.page-footer h3::after {
    content: '.';
    font-size: 0;
    width: 100%;
    height: 2px;
    background: var(--color-accent);
    display: block;
    margin: 1rem 0 2rem 0;
}

.page-footer li {
    font-size: 1.3rem;
    line-height: 1.6;
}
.page-footer li:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.footer-col p {
    font-size: 1.4rem;
    font-weight: bold;
}

.store img{
    width: 12rem;
    height: 4rem;
    margin-bottom: 1rem;

}

.awards {
    display: flex;
    margin-left: 2rem;
    
}
.awards img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    
}

.awards p {
    font-size: 1.3rem;
    font-weight: normal;
}




.social1 {
    display: flex;
    margin-top: 2rem;
   
    

}

.social1 li {
    list-style-type: none;
    padding: 1rem;

}

.copy {
    
    font-size: 1.3rem;
}

.ending {
    display: flex;
    margin-top: 20rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    
}

.links1 {
    display: flex;
    color:#3d5a63;
    
    
}

.links1 p {
    padding-right: 2rem;
    font-size: 1.3rem;
}
.ending p a {
    text-decoration: none;
    color:var(--color-primary-dark);
     
}

.ending p a:hover {
    color: var(--color-accent);
}
  
.social1 a i{
    font-size: 2rem;
    padding-right: 4rem;
    color: var(--color-accent);
}


  
.logo-bottom img {
    width: 23rem;
    height: 5rem;
}


/* back to top button --------------*/


#myBtn {
    display: none;
    position: fixed; 
    bottom: 14rem; 
    right: 5rem; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: var(--color-accent);
    color: white; 
    cursor: pointer; 
    padding: 1.5rem; 
    border-radius: 10px; 
    font-size: 1.8rem; 
    text-transform: uppercase;
  }
  
  #myBtn:hover {
    background-color: var(--color-accent-dark);
  }
